{% extends "website/base.html" %}

{% block main %}
<h2>Gallery</h2>

<h3>Pictures of siglemic</h3>
<ul>
<li>One of the first "publicly known" pictures of siglemic: <a href="http://25.media.tumblr.com/tumblr_lywyepWxcB1r5amffo1_400.jpg">tumblr</a></li>
<!--<li>Young siglemic with long hair: <a href="http://i.imgur.com/kR9fq.jpg">imgur</a></li>-->
<li>siglemic in hoodie: <a href="http://i.imgur.com/5fIYOA9.png">imgur</a></li>
<li>siglemic in hoodie: <a href="http://i.imgur.com/Gtsmjvh.png">imgur</a></li>
<li>siglemic and Lee at AGDQ: <a href="http://images.wikia.com/playingwithmahwii/images/d/d4/2regn6f.jpg">wikia.com</a></li>
<!--<li>2013-03-11: siglemic and Icarurs: <a href="https://pbs.twimg.com/media/BFHXhueCEAAqCcV.jpg:large">twitter</a></li>-->
<li>2013-02-22: siglemic in winter clothes: <a href="https://pbs.twimg.com/media/BDwLX7NCMAAzaTW.jpg:large">twitter</a></li>
<!--<li>2013-01-03: siglemic and Icarurs: <a href="https://pbs.twimg.com/media/A_uoixJCQAMyIuE.jpg:large">twitter</a></li>-->
<!--<li>2012-12-30: siglemic and Icarurs: <a href="https://pbs.twimg.com/media/A_Z0X4yCcAQjLb-.jpg:large">twitter</a></li>-->
<!--<li>siglemic wrapped in a blanket at the end of his 24-hour marathon: <a href="http://i.imgur.com/IwF9MSR.png">imgur</a></li>-->
<!--<li>siglemic resting on folded arms: <a href="http://i.imgur.com/JpUkGof.jpg">imgur</a></li>-->
<!--<li>siglemic with a cat t-shirt and a sandwich: <a href="http://i.imgur.com/yCfYKTd.png">imgur</a></li>-->
</ul>

<!--
<h3>Not pictures of siglemic</h3>
<ul>
<li><a href="http://i.imgur.com/W1ccPVO.png">imgur</a></li>
<li><a href="http://i.imgur.com/lToTQK1.jpg">imgur</a></li>
</ul>
-->

<h3>Equipment</h3>
<ul>
<li>Pikachu N64 and controller: <a href="http://imgur.com/0Wjgp.jpg">imgur</a></li>
<!--<li>TV, N64, monitors, and PC: <a href="http://i.imgur.com/HrcFP.jpg">imgur</a></li>-->
<li>Beatrice and N64 controller: <a href="http://i.imgur.com/XYL2xLO.jpg">imgur</a></li>
</ul>

<h3>GIFs</h3>
<ul>
<!--<li>Showing off his t-shirt: <a href="http://imgur.com/0UH8xBT.gif">imgur</a></li>-->
<!--<li>Throwing away Super Mario 64: <a href="http://i.imgur.com/QbZ3DoZ.gif">imgur</a></li>-->
<li>Sleeping with mario: <a href="http://i.imgur.com/dvTSNdE.gif">imgur</a></li>
</ul>

<h3>Funny edits</h3>
<ul>
<li>“Need for siglemic” poster: <a href="http://i.imgur.com/Du9lvem.jpg">imgur</a></li>
<li>“The autism strikes back” poster: <a href="http://i.imgur.com/XbAdK87.jpg">imgur</a></li>
<li>“The New York Times” newspaper facsimile: <a href="http://i.imgur.com/bOz7HQU.jpg">imgur</a></li>
<li>“Kappa Wave Hits Broquarters”: <a href="http://i.imgur.com/soHRgg3.jpg">imgur</a></li>
<li>“69&#x2729;RACE” with siglemic, sicko, and Jaape: <a href="http://i.imgur.com/GYom1tP.jpg">imgur</a></li>
<li>siglemic at PAX east: <a href="http://i.imgur.com/ML7WV78.png">imgur</a></li>
<li>siglemic dreaming about FrankerZ: <a href="http://i.imgur.com/jopTXak.png">imgur</a></li>
<li>siglemic and a purrito: <a href="http://i.imgur.com/4YUg981.png">imgur</a></li>
<li>(no description): <a href="http://i.imgur.com/6eZyhCY.png">imgur</a></li>
<li>“I WANT YOU TO RUN!”: <a href="http://i.imgur.com/8L2B5uP.png">imgur</a></li>
<li>Jailed FrankerZ: <a href="http://i.imgur.com/AHe7QzX.jpg">imgur</a></li>
<li>siglemic pupa: <a href="http://i.imgur.com/AUXTdGd.png">imgur</a></li>
<li>siglemic metapod: <a href="http://i.imgur.com/AYVb6LX.jpg">imgur</a></li>
<li>siglemic as a hobo: <a href="http://i.imgur.com/HhQbDxS.jpg">imgur</a></li>
<li>siglemic as a baby: <a href="http://i.imgur.com/a3hYm6s.jpg">imgur</a></li>
<li>“IDK BRL”: <a href="http://i.imgur.com/I5QFxof.png">imgur</a></li>
<li>“0'12"8”: <a href="http://i.imgur.com/TNZhN8K.png">imgur</a></li>
<li>siglemic as ET: <a href="http://i.imgur.com/LtcdKRW.jpg">imgur</a></li>
<li>siglemic sleeping in a shelf: <a href="http://i.imgur.com/maKpvfI.jpg">imgur</a></li>
<li>$iglemic: <a href="http://i.imgur.com/p6dMElm.png">imgur</a></li>
<li>Gangsta siglemic: <a href="http://i.imgur.com/PjqMwOC.gif">imgur</a></li>
<li>Sellout siglemic: <a href="http://i.imgur.com/b9WMfv5.png">imgur</a></li>
<li>“Good night bitches and thanks for the cash”: <a href="http://i.imgur.com/Q1LOAwK.png">imgur</a></li>
<li>“Choo choo motherfucker”: <a href="http://i.imgur.com/Wo2FtWr.jpg">imgur</a></li>
<li>“Dad, Sig is in the slide!”: <a href="http://i.imgur.com/sXHi6.jpg">imgur</a></li>
<li>“HAI IM MARIA”: <a href="http://i.imgur.com/tZ06hcw.jpg">imgur</a></li>
</ul>

<h3>Streamshots</h3>
<ul>
<li>Tired from 24 hour marathon: <a href="http://i.imgur.com/GH5hRvk.jpg">imgur</a></li>
</ul>

<h3>Quotes</h3>
<ul>
<!--<li>“fk off shemale”: <a href="http://i.imgur.com/lQD8pQV.png">imgur</a></li>-->
<!--<li>“i smoke weed every day now”: <a href="http://i.imgur.com/CH7Y288.png">imgur</a></li>-->
<li>“twitchbux depleted”: <a href="http://i.imgur.com/SC3gSow.png">imgur</a></li>
<li>“Stop picking on my Siggy BibleThump My little flower.”: <a href="http://i.imgur.com/optMT7h.png">imgur</a></li>
<li>“i can get mario records ~~anytime I want~”: <a href="http://i.imgur.com/rFb6Dnj.png">imgur</a></li>
<li>“ill play this game 18 hrs a day”: <a href="http://i.imgur.com/x86oD2c.png">imgur</a></li>
</ul>

<h3>Historical</h3>
<ul>
<li>Old stream page: <a href="http://i.imgur.com/G3Q2FKJ.png">imgur</a></li>
<li>Siglemic deletes his twitter: <a href="http://i.imgur.com/zFtYZmZ.jpg">imgur</a></li>
</ul>

<h3>Fan art (drawings, paintings, etc.)</h3>
<ul>
<li>Siglemic's face: <a href="http://i.imgur.com/kPqXHmX.jpg">imgur</a></li>
</ul>

<h3>Music</h3>
<ul>
<li>“Reset Maybe” (Philipp Sobecki): <a href="https://www.youtube.com/watch?v=L7t1nTYYSaU">YouTube</a></li>
</ul>
{% endblock %}
